*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: "RG"; /*Can be any text*/
  src: local("ModernDOS9x16"), url("../assets/retro_gaming.ttf") format("ttf");
}

html {
  font-size: 62.5%;
  /* 16px */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  background-color: #008b8b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494949;
}

h3 {
  font-size: 1.7rem;
}

.outer-container {
  flex-grow: 1;
  max-width: 700px;
}

.inner-container {
  min-width: 100%;
  min-height: auto;
  position: relative;
}

.window {
  max-height: 550px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.left-inner-content {
  flex: 0.15;
}

.right-inner-content {
  flex-grow: 1;
}

.left-inner-content {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.status-bar-field {
  padding: 0.3rem;
}

p.status-bar-field:nth-child(1) {
  flex: 1;
}

p.status-bar-field:nth-child(2) {
  flex: 0.07 1;
  text-align: right;
}

.mobile-select {
  display: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;
}

.contact-container button {
  margin: 1rem 1rem;
}

.tree-view {
  padding: 2rem 3rem;
}

.tree-view,
.tree-view div,
.tree-view li {
  font-family: Arial, Helvetica, sans-serif;
}

.close-container {
  text-align: center;
  margin-top: 0.5rem;
  color: red;
}

.close-container-modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.spotify-logo-98 {
  width: 4rem;
  height: auto;
}

.tree-view {
  height: 44.5rem;
  overflow-y: scroll;
}

ul.tree-view {
  padding: 1rem 2rem;
}

.listening-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.spotify-headings-start {
  font-size: 3rem;
  position: relative;
}

/*.spotify-headings-start:after {
  content: "";
  position: absolute;
  background-color: #1bd760;
  width: 100%;
  height: 5px;
  display: flex;
  bottom: -0.5rem;
}*/

.spotify-headings {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.listening-header img {
  margin-right: 1rem;
}

.recent-song-container,
.top-song-container,
.current-song-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recent-song-container img,
.top-song-container img,
.current-song-container img {
  max-width: 150px;
  margin-bottom: 3.5rem;
  margin-top: 0.3rem;
}

.recent-song-p-artist,
.top-song-p-artist,
.current-song-p-artist {
  font-size: 1.2rem;
  font-weight: 900;
}
.recent-song-p-title,
.current-song-p-title {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.song-end-p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
}
@media screen and (max-width: 642px) {
  .outer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }

  .content-container {
    flex-direction: column;
  }

  .desktop-radio {
    display: none;
  }

  .mobile-select {
    display: flex;
    flex-direction: column;
  }

  .mobile-select select {
    margin-bottom: 13px;
  }

  .left-inner-content {
    margin-right: 0;
  }

  p.status-bar-field:nth-child(2) {
    flex: 0.2 1;
  }
  .recent-song-container,
  .top-song-container,
  .current-song-container {
    flex-direction: column;
    align-items: center;
  }

  .recent-song-container img,
  .top-song-container img,
  .current-song-container img {
    max-width: 200px;
  }

  .listening-header {
    display: flex;
    justify-content: center;
  }

  .spotify-headings-start {
    font-size: 4rem;
  }

  .spotify-headings {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
