*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  background-color: #008b8b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer-container {
  /* min-height: auto;
  max-width: 1200px;
  margin: 0 auto;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.inner-container {
  min-width: 100%;
  min-height: auto;
}

.window {
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.left-inner-content,
.right-inner-content {
  flex-grow: 1;
}

.right-inner-content {
  overflow-y: scroll;
  max-height: 600px;
}

.left-inner-content {
  margin-right: 1rem;
}
