*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 16px */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  background-color: #008b8b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer-container {
  min-height: auto;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  min-width: 100%;
  min-height: 100%;
}

.window {
}

.content-container {
  display: flex;
}
